<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-inverse">
        <a class="navbar-brand" href="#">网络管理系统</a>
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">主页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/home">管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/ping">检测连接</a>
          </li>
        </ul>
      </nav>

      <div class="jumbotron">
        <h1 class="display-3">Welcome!</h1>
        <p class="lead">欢迎进入网页管理系统, 请登录或者注册</p>
        <hr class="m-y-2">

        <form id="form">
          <div class="form-group row">
            <label for="username" class="col-sm-2 form-control-label">用户名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" placeholder="用户名">
            </div>
          </div>
          <div class="form-group row">
            <label for="password" class="col-sm-2 form-control-label">密码</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" placeholder="密码">
            </div>
          </div>
          <div class="form-group row">
            <label for="option" class="col-sm-2 form-control-label">选项</label>
            <div class="col-sm-10">
              <label class="radio-inline">
                <input type="radio" checked name="isLogin" id="inlineRadio1" value="login"> 登录
              </label>
              <label class="radio-inline">
                <input type="radio" name="isLogin" id="inlineRadio2" value="register"> 注册
              </label>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" id="submit-btn" class="btn btn-secondary">提交</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <script src="//cdn.bootcss.com/jquery/2.1.4/jquery.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.js"></script>
    <script src="javascripts/index.js"></script>
  </body>
</html>
