* {

}

.table td.offline {
  color: #7f8c8d;
}

.table td.online {
  color: #27ae60;
}

#btn-ping {
  display: inline-block;
}

.placeholder {
  display: inline;
  margin-left: 20px
}

.placeholder.success {
  color: #27ae60;
}

.placeholder.error {
  color: #e74c3c;
}